* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  background-color: rgb(255, 151, 148);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.btn {
  cursor: pointer;
  padding: 10px;
  border: none !important;
  flex-wrap: wrap;
  max-width: 10px;
  margin-bottom: 1rem;
}
