* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* styles.css veya App.css gibi bir dosyada */
.card-container {
  margin: 5rem 15rem 2rem 15rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-image: url("../src/assets/books.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 300px;
  min-height: 600px;
}

.card {
  width: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
}
.navbar {
  background-color: rgb(211, 205, 201);
  color: black;
  font-size: 1.5rem;
  display: flex;
  margin: 2rem;
  margin: auto;
  width: %50rem;
  height: 10rem;
 padding: 1rem;

}
