* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  -webkit-animation: gradient 20s ease infinite;
  animation: gradient 20s ease infinite;
  background: linear-gradient(
    -45deg,
    #003547,
    #c2bb00,
    #e1523d,
    #ed8b16,
    #005e54
  );
  background-size: 400% 400%;
  height: 100vh;
}
h1 {
  color: azure;
  font-family: Amatic SC, cursive;
  font-size: 3rem;
  margin: 1rem;
}
.card {
  width: 60%;
  background-color: hsla(0, 34%, 55%, 0) !important ;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
  color: #f0f8ff !important;
}
.header {
  display: block;
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: #da442d !important;
  font-size: 1.2rem;
}
